<% layout('boilerplate') -%>
    <section class="container">
        <h1 class="mx-auto" style="width: 300px;">Edit Market</h1>

        <form action="/markets" method="post">
            <div>
                <label for="name" class="form-label">Name: </label>
                <input type="text" class="form-control" id="name" name="market[name]" placeholder="Market Name">
            </div>
            <div>
                <label for="location" class="form-label">Location: </label>
                <input type="text" class="form-control" id="location" name="market[location]"
                    placeholder="Market location">
            </div>
            <div>
                <label for="description" class="form-label">Description: </label>
                <textarea name="market[description]" class="form-control" id="description" cols="30"
                    rows="10"></textarea>
            </div>
            <button>Submit</button>
        </form>
    </section>