<% layout('boilerplate') -%>

    <h1>
        <%= market.name %>
    </h1>
    <!-- upcoming events  |edit| |delete| -->
    <h2>
        <%= market.location %>
    </h2>
    <p>
        <%= market.description %>
    </p>

    <a href="/">Add Event</a>
    <a href="/">Back to All Markets</a>