<% layout('boilerplate') -%>

    <h1>Market Name</h1>
    <!-- upcoming events  |edit| |delete| -->
    <h2>Location</h2>
    <p>Description</p>

    <a href="/">Add Event</a>
    <a href="/">Back to All Markets</a>